body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size:14px!important;
    font-family:'Times New Roman', Times, serif;
    color:#555;
}
.form-control{font-size:13px!important;border-radius:0px}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
/*.required .control-label:before{content:"*";color:red}*/
a{transition:.5s all;font-size:14px}
.bold{font-weight:bold}
.glyphicon{font-size:12px}
.required .asterisk:after{content:"*";color:red;position:absolute;top:10px;right:22px;z-index:10}
.alert-notes{margin-bottom:0;padding:3px 6px}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
.option-label{font-weight:normal;font-size:12px}
.option-label label:nth-child(2n+1){font-weight:normal;font-size:12px}
.option-label .checkbox{padding-top:0;top:-2px}
.list-option{list-style:none;display:block;float:left;margin:0;padding:0}
.list-option li{clear:both}
.list-option .checkbox label{font-size:11px}
.show{display:normal}
.hide{display:none}
.tooltip{white-space:nowrap}
.tooltip-inner{max-width:initial}
.form-control,.btn{font-size:12px}
.nav .open>a{background-color:initial !important}
.navbar-right{margin-right:0}
.navbar-right .account>a,.navbar-brand{color:#c9c9c9!important}
.navbar-right .account>a:hover,.navbar-brand:hover{color:#fff!important}
.navbar-right .account .dropdown-menu a{padding:10px 20px}
/*.navbar-right .account .dropdown-toggle{padding:14px 8px}*/
.btn{border-radius:unset}
.btn-group .btn{margin-bottom:1px!important}
.btnUpload{width:18%;position:relative;cursor:pointer}
.btnUpload input[type=file]{opacity:0;width:0px;height:0px;position:absolute;top:0;left:0;cursor:pointer!important}
.center{text-align:center;vertical-align:middle}
.table-head>thead{background-color:#eee}
.table td{vertical-align:middle!important}
.tbl-cmd,.tbl-index,.tbl-reset-pass{text-align:center}
.tbl-cmd{width:80px;font-size:12px;padding:8px 0!important}
.tbl-index{width:4%}
.tbl-reset-pass{width:130px}
.tbl-checkbox{width:38px;margin:0!important;padding:0!important;text-align:center;vertical-align:middle!important}
.tbl-checkbox label{padding:8px 6px;display:block;margin-bottom:0px!important;cursor:pointer}
.tbl-checkbox label input[type=checkbox]{cursor:pointer}
.pointer{cursor:pointer}
.search-form{position:relative;top:-1px;margin-right:10px}
.search-form input{max-width:unset!important}
.show-trash{display:block;text-align:right}
.show-trash a{text-align:center}
.show-trash a:hover,.show-trash a:active,.show-trash a:visited,.show-trash a:focus{text-decoration:none}
.ml4{margin-left:4px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.pl10{padding-left:10px}
.pl20{padding-left:20px}

.login-form input{max-width:280px}

.scroll-400{max-height:400px;overflow-x:auto;overflow-y:scroll}

#PacketModal .form-group{margin-left:0;margin-right:0;padding-right:15px}
#PacketModal .form-control{box-shadow:none;font-weight:normal}
#PacketModal .form-control:hover{background-color:#eee;cursor:pointer;font-weight:bold}
#PacketModal .form-control span{position:relative;top:-1.55px}

.packet-list{display:inline-block}
.packet-list span{display:inline-block;margin-right:5px;padding:12px}
.packet-list i.glyphicon{padding-left:12px;padding-right:2px}
.packet-list b.end_at{font-size:12px}
.btnPacketModal{padding-left:20px;padding-right:20px}
.cts-input{padding-top:10px}
.remove-services{padding:0;top:6px}
#listPacketRemove{font-size:16px;overflow-y:scroll;overflow-x:hidden;max-height:200px}
#listPacketRemove .item-paket{margin-bottom:3px;display:block}
#listPacketRemove i{font-weight:normal;font-style:normal}
.label-value{font-weight:normal;text-align:left!important}
.label-services{font-size:12px}
.searching-form .form-group input[type=text]{width:80%;float:left;border-top-right-radius:0;border-bottom-right-radius:0}
.searching-form .form-group input[type=submit]{width:20%;padding:7px;border:0px;}

.pagination{margin-bottom:0px!important}
.pagination-goto{float:right!important;margin-top:20px}
.pagination-goto a{cursor:pointer}

#txtServices .col-md-6{margin-bottom:6px}

.fixed-top-left{position:fixed;left:0}
.fixed-top-right{position:fixed;right:0}
.fixed-top-right a,.fixed-top-left{display:block;width:100%;margin-bottom:10px;font-size:80%}

/*dropdown*/
.dropdown-menu{padding:0;border-radius:0px}
.dropdown-menu>li>a:hover{background-color:#101010;color:#fff}
.dropdown-menu.initial-width{min-width:initial}
.dropdown-menu>li>label,.dropdown-menu>.dropdown-item{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap}
.dropdown-menu>li>label:hover,.dropdown-menu>.dropdown-item:hover{background-color:#3ea4f2;cursor:pointer;color:#fff;transition:.5s all;}

/*notification*/
.ntfc-list {
    position: absolute;
    min-width: 450px;
    right: 0;
    margin-top: 1px;
    display:none;
}
.ntfc-list:focus {
    outline:none
}
    .ntfc-list .ntfc-list-content {
        background-color: #337ab7;
    }
    .ntfc-list .ntfc-list-footer {
        /*background-color: #555;*/
    }
    .ntfc-list .ntfc-item, .ntfc-list .ntfc-item a {
        color: #cbcbcb;
        transition: none;
    }
      .ntfc-list .ntfc-item:hover, .ntfc-list .ntfc-item:hover a {
            color: #fff;
        }
    .ntfc-list .ntfc-item {
        padding: 8px;
        border-bottom: 1px solid #9d9d9d;
        overflow: hidden;
    }
        .ntfc-list .ntfc-item.readed {
            background-color: #5a5a5a;
        }
        .ntfc-list .ntfc-item:last-child {
            border-bottom: none;
        }
        .ntfc-list .ntfc-item:hover {
            background-color: #337ab7;
        }
        .ntfc-list .ntfc-item .ntfc-item-head, .ntfc-list .ntfc-item .ntfc-item-content {
            clear: both;
        }
            .ntfc-list .ntfc-item .ntfc-item-head .ntfc-item-head-left, .ntfc-list .ntfc-item .ntfc-item-content .ntfc-item-content-left {
                float: left;
                width: 80%;
            }
            .ntfc-list .ntfc-item .ntfc-item-head .ntfc-item-head-right, .ntfc-list .ntfc-item .ntfc-item-content .ntfc-item-content-right {
                float: right;
            }
.ntfc .ntfc-btn-remove:hover {
    color: #a91a17
}

.table-hover tbody tr:hover{background-color:#ebebeb;color:#278ddb}
.table-tr-link tbody tr{cursor:pointer}
.link-action:hover{cursor:pointer}
.link-action a:hover{text-decoration:none}
.btn-pointer{cursor:pointer}

/*File Manager*/
.label-center{text-align:center}
.list-file{max-height:392px;overflow-x:hidden;overflow-y:scroll;/*border:1px solid #eee;*/padding-left:0}
.list-file .list-group{}
.list-file .list-group .list-group-item{border:none;padding:0;margin-bottom:0}
.list-file .list-group .list-group-item a{display:block;padding:8px 10px;padding-left:0}
.list-file .list-group .list-group-item a:hover{text-decoration:none;background-color:#6ca1db;color:#fff}
.list-file .list-group .list-group-item a i,.list-file-item{padding-right:10px}
.list-file .list-file-item:hover{color:#278ddb!important}

.list-file .list-group .list-group-item ul{padding-left:25px}
.list-file .list-group .list-group-item ul li a{padding-left:10px}

/*Setting*/
.setting-label{display:none}

/*NAV*/
.nav>li>ul{position:absolute;margin:0;padding:0;list-style:none;min-width:200px;background-color:#101010;display:none}
.nav li:hover>ul{opacity:1;display:block;transition:ease-in .5s}

.nav ul li ul{position:absolute;left:100%;top:0;padding:0;list-style:none;min-width:200px;background-color:#101010;display:none}

.nav>li>ul li a{padding:10px 15px;display:block;color:#9d9d9d}
.nav>li>ul li a:hover{color:#fff;text-decoration:none}
.nav>li>ul>li.divider{background-color:#3d3d3d}

.selector-month:hover .list-file{display:block;position:absolute;background-color:#fff;border:1px solid #ddd;z-index:1}
.selector-month .list-file{display:none}
.selector-month{display:inline-block}


.pl-pr15{padding-left:15px!important;padding-right:15px!important}


.input-validation-error.form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.input-validation-error.form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.input-validation-error.input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
.input-validation-error.form-control-feedback {
  color: #a94442;
}

.detail-label{display:inline-block;padding-top:7px}
label.priceVND,label.price{font-weight: bold; color: #fff}
.priceVND,.price{font-weight:bold;color:#d9534f;font-style:normal}
.priceVND i{content:" vnđ"}

.label-details{padding:6px 10px;position:relative;top:6px}
.desc-details{height:150px;overflow-x:hidden;overflow-y:scroll;border:1px solid #cccccc}
.label-maxsie{font-size:100%}


.input-group-addon:hover{background-color:#337ab7;color:#fff;border-color:#337ab7}

.images-list{text-align:center}
.images-list .images{margin-right:5px;border:1px solid #ccc;padding:5px;display:inline-block}
.images-list .images .image{display:table-cell;text-align:center;vertical-align:middle}
.images-list .images .image:last-child{margin-right:0}
.images-list .images .image:hover{border-color:#278ddb;transition:ease-in-out .6s}
.images-list img{vertical-align:initial}
.img50{width:50px;height:50px}
.img100{width:100px}
.img150{width:150px;height:150px}
.img250{width:250px;height:250px}

.extra-box{border:1px solid #ddd;margin-bottom:10px;float:left}
.extra-box h4{padding-left:5px;font-weight:bold;width:100%;display:block}
.mergin-hd b{text-align:right}
.mergin-hd span{text-align:left}

.panel .close-panel{float:right;position:relative;cursor:pointer;top:-18px;color:#aaa}
.panel .close-panel:hover{color:#000}
.checkbox{float:left;margin-right:15px}
.checkbox:last-child{float:left;margin-right:0px}
/*.form-horizontal .input-group-addon{width:37px;height:34px;padding:0}*/
/*.nav>li:hover ul{
    -webkit-animation-name: fadeIn;
}

#youritem .fade.out {
    -webkit-animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(100);
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(startYposition);
    } 
    100% {
        opacity: 0;
        -webkit-transform: translateY(endYposition);
    }
}*/
/**/
#ajax-loader {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 45%
}
.spinner {
  margin: auto 0;
  text-align: center;
  opacity:1;
  z-index:1050;
  position:fixed;
}

.spinner > div {
  width: 39px;
  height: 39px;
  margin-right:38px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}