
@{
    ViewBag.Title = "Hưỡng dẫn tổng hợp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hưỡng dẫn</h2>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#SMSS" aria-controls="SMSS" role="tab" data-toggle="tab">SMRS</a></li>
        <li role="presentation"><a href="#KQDB" aria-controls="KQDB" role="tab" data-toggle="tab">Khoán địa bàn</a></li>
        @*<li role="presentation"><a href="#RXTH" aria-controls="RXTH" role="tab" data-toggle="tab">Hướng dẫn rà soát tích hợp 08/2017</a></li>*@
        <li role="presentation" class="active"><a href="#THGDCCBS" aria-controls="THGDCCBS" role="tab" data-toggle="tab">CCBS</a></li>
        <li role="presentation"><a href="#PTTB" aria-controls="PTTB" role="tab" data-toggle="tab">PTTB</a></li>
        <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Liên hệ</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="SMSS">
            <p class="clearfix"></p>
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">File hướng dẫn</h3>
                    </div>
                    <div class="panel-body">
                        <a target="_blank" href="https://docs.google.com/document/d/1lcS97IR9xFPYaFl7a4Ji2o5WoMpr4yjgCg3FHuuqLdQ">Gán Trạm BTS, Cell Theo nhân viên kinh doanh</a>
                    </div>
                </div>

            </div>
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Video hướng dẫn</h3>
                    </div>
                    <div class="panel-body">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/PtKK1fXwjc8" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="KQDB">
            <p class="clearfix"></p>
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">File hướng dẫn</h3>
                    </div>
                    <div class="panel-body">
                        <a target="_blank" href="https://docs.google.com/document/d/1ZrTVG7-ZO8KDJegSk7YQctadT3CaSlDz517uwQEiMlo">Hướng dẫn sử dụng KQDB</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hướng dẫn xem báo cáo chi tiết thuê bao không phát sinh lưu lượng</h3>
                    </div>
                    <div class="panel-body">
                        <a target="_blank" href="https://docs.google.com/presentation/d/1bsGyqTFbzbvYfrwQl-PGj_OCYysRvd-dYWANcGSp5dM/edit#slide=id.p6">Hướng dẫn xem báo cáo chi tiết thuê bao không phát sinh lưu lượng</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hướng dẫn tạo nhóm quản lý và gán nhân viên, gán địa bàn</h3>
                    </div>
                    <div class="panel-body">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/vBEgTt99rn4" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hướng dẫn phân chia nhân viên</h3>
                    </div>
                    <div class="panel-body">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/XP5IdVbKY0c" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hướng phân chia địa bàn</h3>
                    </div>
                    <div class="panel-body">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/uI52O7hRDuk" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        @*<div role="tabpanel" class="tab-pane fade" id="RXTH">
        <p class="clearfix"></p>
        <div class="">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">File hướng dẫn</h3>
                </div>
                <div class="panel-body">
                    <a target="_blank" href="https://docs.google.com/document/d/1ZldTJeeqWhU8qzwafXDxfQJqbhKA4rYUU0bj1hJwcT8">Hướng dẫn rà soát tích hợp 08/2017</a>
                </div>
            </div>
        </div>
    </div>*@
        <div role="tabpanel" class="tab-pane fade in active" id="THGDCCBS">
            <p class="clearfix"></p>
            @*<div class="">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">File hướng dẫn</h3>
                        </div>
                        <div class="panel-body">
                            <a target="_blank" href="https://docs.google.com/document/d/1ZrTVG7-ZO8KDJegSk7YQctadT3CaSlDz517uwQEiMlo">Hướng dẫn đăng ký gói cước gia đình</a>
                        </div>
                    </div>
                </div>*@
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hướng dẫn đăng ký gói cước gia đình</h3>
                    </div>
                    <div class="panel-body">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nl-vi_DQTtA" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="PTTB">
            <p class="clearfix"></p>
            @*<div class="">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Đăng ký MyTV Home, Titan, Sport</h3>
                </div>
                <div class="panel-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/nf3GKW4ci-Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>*@
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Đăng ký tích hợp "Gia dinh Home/Sport/Titan (G)"</h3>
                    </div>
                    <div class="panel-body">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/h4DQok8wZGg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Báo Cáo FSecure</h3>
                    </div>
                    <div class="panel-body">
                        <a target="_blank" href="https://docs.google.com/document/d/1VDerjAQGbvF6ra7I2sjMVMFIjSJxBVy9k53tPJT7hUc">Hướng dẫn in báo cáo tài khoản FSecure sau khi đăng ký thành công</a>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="contact">
            <p class="clearfix"></p>
            <div class="col-md-6 row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Trưởng phòng Điều hành nghiệp vụ</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Họ tên</label>
                            <label class="control-label col-md-9">Lèng Hoàng Lâm</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <label class="control-label col-md-9"><a href="mailto:lamlh.bkn@vnpt.vn">lamlh.bkn@vnpt.vn</a></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">SĐT</label>
                            <label class="control-label col-md-9">0912.893.999</label>
                        </div>
                    </div>
                </div>
            </div>
            <p class="clearfix"></p>
            <div class="col-md-6 row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Phó phòng điều hành nghiệp vụ</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Họ tên</label>
                            <label class="control-label col-md-9">Trần Minh Thu Trang</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <label class="control-label col-md-9"><a href="mailto:trangtmt.bkn@vnpt.vn">trangtmt.bkn@vnpt.vn</a></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">SĐT</label>
                            <label class="control-label col-md-9">0948.076.111</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Cố định:</label>
                            <label class="control-label col-md-9">02093.870.615</label>
                        </div>
                    </div>
                </div>
            </div>
            <p class="clearfix"></p>
            <div class="col-md-6 row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chuyên viên trả trước</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Họ tên</label>
                            <label class="control-label col-md-9">Trần Thị Thu Thảo</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <label class="control-label col-md-9"><a href="mailto:thaottt.bkn@vnpt.vn">thaottt.bkn@vnpt.vn</a></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">SĐT</label>
                            <label class="control-label col-md-9">0948.518.111</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Cố định:</label>
                            <label class="control-label col-md-9">02093.870.803</label>
                        </div>
                    </div>
                </div>
            </div>
            <p class="clearfix"></p>
            <div class="col-md-6 row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nhân viên trả sau</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Họ tên</label>
                            <label class="control-label col-md-9">Lôi Thúy Lan</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <label class="control-label col-md-9"><a href="mailto:lanlt.bkn@vnpt.vn">lanlt.bkn@vnpt.vn</a></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">SĐT</label>
                            <label class="control-label col-md-9">0886.233.222</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Cố định:</label>
                            <label class="control-label col-md-9">02093.870.803</label>
                        </div>
                    </div>
                </div>
            </div>
            <p class="clearfix"></p>
            <div class="col-md-6 row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chuyên viên kỹ thuật</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Họ tên</label>
                            <label class="control-label col-md-9">Phùng Minh Tuấn</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <label class="control-label col-md-9"><a href="mailto:tuanpm.bkn@vnpt.vn">tuanpm.bkn@vnpt.vn</a></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">SĐT</label>
                            <label class="control-label col-md-9">0888.814.222</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Cố định:</label>
                            <label class="control-label col-md-9">02093.870.615</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>