@{
    ViewBag.Title = "Quản trị công việc ngày";
    ViewBag.ContentTitle = "Danh sách công việc ngày";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div id="lstWorks" class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nhập thông tin</h3>
                </div>
                <div class="panel-body">
                    <div class=""><div class="col-md-3 row"><input type="text" class="form-control" /></div></div>
                    <p class="clearfix"></p>
                    <table class="table table-hover table-bordered table-head table-responsive">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Nội dung công việc</th>
                                <th>Nhân viên kinh doanh</th>
                                <th>Cộng tác viên</th>
                                <th>Nhân viên thu cước</th>
                                <th>Đơn vị tính</th>
                                <th>Kết quả</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
@section ScriptList {
    @Html.Partial("ScriptList")
    <script>
        function getFormHtml(d) {
            var html = '';
            for (var i = 0; i < d.data.length; i++) {
                html += '<div class="panel panel-primary">' +
                    '<div class="panel-heading"><h3 class="panel-title">' + d.data[i].group.title + '</h3></div>' +
                    '<div class="panel-body">' +
                    '<div class=""><label class="control-label pull-left">Ngày báo cáo: </label><div class="col-md-3"><input type="text" class="form-control datetime" /></div>' +
                    '<div class="col-md-3 row"><button class="btn btn-primary btnUpdateItem">Cập nhật</button></div>' +
                    '<p class="clearfix"></p>' +
                    '<table class="table table-hover table-bordered table-head table-responsive">' +
                    '<thead>' +
                    '<tr>' +
                    '<th>STT</th>' +
                    '<th class="col-md-3">Nội dung công việc</th>' +
                    '<th class="col-md-1">Đơn vị tính</th>' +
                    '<th>Nhân viên KD</th>' +
                    '<th>Cộng tác viên</th>' +
                    '<th>Nhân viên thu cước</th>' +
                    '<th class="col-md-1">Kết quả</th>' +
                    '<th>Ghi chú</th>' +
                    '</tr>' +
                    '</thead>' +
                    '<tbody>';
                var item = d.data[i].item;
                for (var j = 0; j < item.length; j++) {
                    var subitem = d.data[i].subitem;
                    var subitemVal=null;
                    for (var k = 0; k < subitem.length; k++) {
                        if (subitem[k].id_key == d.data[i].group.id && subitem[k].item_id == item[j].id)
                            subitemVal = subitem[k];
                        console.log(subitemVal);
                    }
                    html += '<tr gid="' + d.data[i].group.id + '" iid="' + item[j].id + '">' +
                        '<td>' + ((j + 1) < 10 ? '0' + (j + 1) : (j + 1)) + '</td > ' +
                        '<td>' +
                        '<span>' + item[j].title + '</span>' +
                        '<input type="hidden" name="dataItems" />' +
                        '</td>' +
                        '<td>' + item[j].url + '</td>' +
                        '<td><input type="text" class="form-control dataItem txtnvkd" value="' + (subitemVal != null ? (subitemVal.main_key != null ? subitemVal.main_key : ''):'')+'"/></td>' + //' + (item[j].simain_key != null ? item[j].simain_key : "N/A") + '
                        '<td><input type="text" class="form-control dataItem txtctv" value="' + (subitemVal != null ? (subitemVal.value != null ? subitemVal.value : '') : '') +'"/></td>' + //' + (item[j].sivalue != null ? item[j].sivalue : "N/A") + '
                        '<td><input type="text" class="form-control dataItem txtnvtc" value="' + (subitemVal != null ? (subitemVal.sub_value != null ? subitemVal.sub_value : '') : '') +'"/></td>' + //' + (item[j].sisub_value != null ? item[j].sisub_value : "N/A") + '
                        '<td><input type="number" class="form-control dataItem txtkq" value="' + (subitemVal != null ? (subitemVal.quantity != null ? subitemVal.quantity : '') : '') +'"/></td>' + //' + (item[j].siquantity != null ? item[j].siquantity : "N/A") + '
                        '<td><input type="text" class="form-control dataItem txtgc" value="' + (subitemVal != null ? (subitemVal.desc != null ? subitemVal.desc : '') : '') +'"/></td>' + //' + (item[j].sidesc != null ? item[j].sidesc : "") + '
                        '</tr>';
                }
                html += '</tbody></table></div></div>';
            }
            return html;
        }
        $(function () {
            $.get('@Url.Action("getItem")', function (d) {
                if (d.success) {
                    $('#lstWorks').html(getFormHtml(d));
                }
            }).done(function () {
                var dateNow = new Date();
                $('.datetime').datetimepicker({
                    defaultDate: new Date(),
                    format: 'DD/MM/YYYY',
                });
                $('.dataItem').off('change').on('change', function () {
                    var $this = $(this);
                    var parent = $this.parents('tr');
                    var input = parent.children('td:eq(1)').children('[name="dataItems"]');
                    var inputData = [];
                    var allInputData = [];
                    parent.find('.dataItem').each(function () {
                        inputData.push($(this).val());
                    })
                    allInputData[parent.attr('id')] = inputData;
                    input.val(inputData)
                })
                $('.btnUpdateItem').off('click').on('click', function (e) {
                    e.preventDefault();
                    var inputData = [];
                    //Object workData
                    var data = {
                        gid: '',
                        iid: '',
                        nvkd: '',
                        ctv: '',
                        nvtc: '',
                        kq: '',
                        gc: ''
                    };
                    $('#lstWorks').find('tbody tr').each(function (ee) {
                        var $this = $(this);
                        inputData.push({
                            gid: $this.attr('gid'),
                            iid: $this.attr('iid'),
                            nvkd: $this.find('.txtnvkd').val(),
                            ctv: $this.find('.txtctv').val(),
                            nvtc: $this.find('.txtnvtc').val(),
                            kq: $this.find('.txtkq').val(),
                            gc: $this.find('.txtgc').val()
                        });
                    });
                    var headers = {};
                    headers['__RequestVerificationToken'] = $('input[name="__RequestVerificationToken"]').val();
                    $.ajax({
                        contentType: 'application/json, charset=utf-8',
                        //dataType: 'json',
                        type: 'POST',
                        url: '@Url.Action("updateItem")',
                        headers: headers,
                        data: JSON.stringify(inputData),//{ '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val(),  },
                        success: function (d) {
                            if (d.success) {
                                $('#TMAlert').TMAlert({ type: "success", message: d.success });
                                //console.log(d.data);
                                //console.log($.cookie());
                            }
                            if (d.danger)
                                $('#TMAlert').TMAlert({ type: "error", message: d.danger });
                        },
                        //traditional: true,
                        failure: function (response) { }
                    });
                })
                $('.datetime').off('blur').on('blur', function () {
                    console.log('a');
                })
            });
        });
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        //function workData(gid, iid, nvkd, ctv, nvtc, kq, gc) {
        //    this.gid = gid;
        //    this.iid = iid;
        //    this.nvkd = nvkd;
        //    this.ctv = ctv;
        //    this.nvtc = nvtc;
        //    this.kq = kq;
        //    this.gc = gc;
        //}
    </script>
}